__pycache__/
.idea/
app/__pycache__/
app/JCTradeBot/__pycache__/
app/JCTradeBot/Analyzer/__pycache__/
app/JCTradeBot/Messenger/__pycache__/
app/JCTradeBot/Model/__pycache__/
app/JCTradeBot/Parser/__pycache__/
app/JCTradeBot/Trader/__pycache__/


